body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    height: 62px;
    color: white;
    background-color: rgb(20, 81, 122);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 19%;
}

.bigtext{
    font-size: 42px; /*sets the font-size for this website is awesome*/
}

.awesome{
    font-size: 20px;
    height: 35vh;
    background-color: rgb(20, 81, 122);
    display: flex;
    padding: 5px 18% 100px;
    justify-content: center;
    align-items: center;
}


ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

button{
    background-color: rgb(31, 146, 184);
    color: white;
    border-radius: 7px;
    width: 20%;
    height: 30px;
}

.random{
    text-align: center;
}

.content {
    display: flex;
    padding: 10px 18% 4%;
    gap: 10px;
    text-align: center;
}

.quote{
    /*margin-bottom: 10px;remove this later*/
    height: 202px;
    background-color: rgb(192, 187, 187);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    padding: 10px 18% 4%;
}

.blank{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.blue-rectangle{
    text-align: center;
    width: 50%;
    background-color: rgb(91, 172, 199);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    height: 72px;
    background: #eee;
    color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(20, 81, 122);
}